* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

:root,
body {
  height: 100%;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../PICTURES/gpt.png");
  background-color: skyblue;
  background-size: cover;
  background-position: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-section {
  width: 50%;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-section img {
  width: 90%;
  height: auto;
  object-fit: cover;
}

.form-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 350px;
  background: #14026e; /* Dark purple shade */
  padding: 20px;
  border-radius: 30px; /* More rounded corners for the login box */
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.2),
    0 15px 40px rgba(0, 0, 0, 0.15);
}
.form-container {
  display: none;
}

.form-container.active {
  display: block;
}

.form-container h2,
.form-container p {
  color: white; /* Ensures that text is white */
}

.form-container input,
.form-container button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 12px; /* More rounded edges */
  border: 1px solid #ccc;
}

.form-container input {
  background: transparent;
  color: white;
}

.form-container button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.form-container button:hover {
  background: #0056b3;
}

.form-container a {
  color: white;
  text-decoration: underline;
}
